{% extends "base.html" %}
{% block content %}
<div>
    <h3>Hello, {{ user['name'] }}.</h3>
    <a href={{ url_for('logout') }} id="logout">Log out</a>
</div>
<div class="center">
    <h4>Nearby Places</h4>
    <table>
        <tr>
            <td>Latitude</td>
            <td>Longitude</td>
            <td>Name</td>
            <td>Category</td>
        </tr>
        {% for item in nearby %}
        <tr>
            <td>{{ item['latitude'] }}</td>
            <td>{{ item['longitude'] }}</td>
            <td>{{ item['name'] }}</td>
            <td>{{ item['category'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
        document.getElementById('logout').onclick = function() {
            FB.logout(function(response){ 
                alert('???');
            });
        };
    </script>
</div>
{% endblock %}
